{:paths ["src"]
 :deps {
        org.clojure/clojure {:mvn/version "1.11.0"},
        babashka/babashka {:mvn/version "0.7.8"}}

 :aliases
 {:build {:deps {io.github.seancorfield/build-clj {:git/tag "v0.8.0" :git/sha "9bd8b8a"}}
          :ns-default build}}}
